<footer id="myFooter">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 myCols">
              <h5>Get information about Movies, TV Shows and More.....</h5>
              <hr />
          </div>
      </div>
  </div>
  <div class="social-networks">
      <a href="https://twitter.com/ujwals1996" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/ujwal.shrestha.104" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="https://plus.google.com/u/2/113477129681765952649" target="_blank" class="google"><i class="fab fa-google-plus-g"></i></a>
  </div>
  <div class="footer-copyright">
      <p>&copy; 2018 Copyright - <a [routerLink]="['./']" style="text-decoration: none;">e5movies</a>. All Rights Reserved. </p>
  </div>
</footer>