#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
    /*background-color: #383737;*/
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
    letter-spacing: 1px;
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 28px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 8px;
    margin-left: 8px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;
}

#myFooter .facebook:hover .fa-facebook-f{
	color:rgba(59, 89, 152, 1);
}

#myFooter .google:hover .fa-google-plus-g{
	color:rgba(219, 68, 55, 1);
}

#myFooter .twitter:hover .fa-twitter {
	color: rgba(29, 161, 242, 1);
}


