<div id="teammateWrapper">
    <div class="row">
        <div class="col-md-10">
            <h3>Our Web Developers</h3>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 mycard">
            <div class="card">
                <img class="card-img-top" src="../../assets/joker.jpg" height="230" alt="Ujjawal">
                <div class="card-body">
                    <h5 class="card-title">Ujjawal Shrestha</h5>
                    <p class="card-text">Developer/Designer</p>
                    <a href="#" class="btn btn-primary">Follow him</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 mycard">
            <div class="card">
                <img class="card-img-top" src="../../assets/moana.jpg" height="230" alt="Oubine">
                <div class="card-body">
                    <h5 class="card-title">Oubine Perrin</h5>
                    <p class="card-text">Developer/Designer</p>
                    <a href="#" class="btn btn-primary">Follow her</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 mycard">
            <div class="card">
                <img class="card-img-top" src="../../assets/incredible.jpg" height="230" alt="Suman">
                <div class="card-body">
                    <h5 class="card-title">Suman Nepali</h5>
                    <p class="card-text">Developer/Designer</p>
                    <a href="#" class="btn btn-primary">Follow him</a>
                </div>
            </div>
        </div>
    </div>
</div>