<div id="aboutWrapper">
  <mat-card>
    <mat-card-title>
      <strong>About Us</strong>
    </mat-card-title>
    <mat-card-content>
      <p style="letter-spacing: .7px; word-spacing: 1px; line-height: 28px; font-size: 18px;">
          <strong>e5movies</strong> is a website which provides information about released or upcoming movies such as their storyline, cast and crew, director, etc. along with the official trailer from IMDB website. 
      </p>
      <br />
      <div style="font-size: 18px;">
          <p >This Web Application was built in <strong>Angular CLI</strong> model using : </p>
          <ul>
            <li>Angular 6 - Angular CLI (Front-End)</li>
            <li>Express (Back-End Server)</li>
            <li>Mongodb (Database)</li>
            <li>Nodejs (Layout for Express)</li>
            <li>Bootstrap (Designing)</li>
            <li>Angular Material (Designing)</li>
            <li>Visual Studio Code (Code Editor)</li>
          </ul>
      </div>
      <h5>Creator of this Web Application are : <strong>UJJAWAL SHRESTHA , OUBINE PERRIN , SUMAN NEPALI</strong></h5>
    </mat-card-content>
  </mat-card>
</div>