<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="./"><img style="height: inherit;" src="../../assets/logo.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button
          mat-button routerLink="./"
          routerLinkActive="active"
        >
          Home
        </button>
      </li>
      <li class="nav-item">
        <button
          mat-button routerLink="./movie-create"
          routerLinkActive="active"
        >
          Create
        </button>
      </li>
      <li class="nav-item">
        <button
          mat-button routerLink="./movie-detail"
          routerLinkActive="active"
          disabled="true"
        >
          Details
        </button>
      </li>
    </ul>
  </div>
</nav>