<div id="detailWrapper">
    <div class="button-row">
        <a mat-raised-button color="primary" [routerLink]="['/movies']"><mat-icon>list</mat-icon></a>
    </div>
    <div class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h2 class="text-capitalize">{{movie.title}} &nbsp;<small>({{movie.release_date | date: 'yyyy'}})</small></h2>
            </mat-card-title>
            <mat-card-subtitle>
                Posted on {{movie.updated_date | date}} &nbsp;|&nbsp;{{movie.genre}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img src="{{movie.movie_poster}}" alt="{{movie.title}} image" width="280px" height="385px">
        </mat-card-content>
        <mat-card class="storyline">
            {{movie.storyline}}
        </mat-card>
        <mat-card>
            <div>
                <div class="detailDiv">
                    <h5><b>Image URL : </b><small>{{movie.movie_poster}}</small></h5>
                </div>
                <div class="detailDiv">
                        <h5><b>Genre : </b><small>{{movie.genre}}</small></h5>
                    </div>
                <div class="detailDiv">
                    <h5><b>Cast : </b><small>{{movie.cast}}</small></h5>
                </div>
                <div class="detailDiv">
                    <h5><b>Director : </b><small>{{movie.director}}</small></h5>
                </div>
                <div class="detailDiv">
                    <h5><b>Release Date : </b><small>{{movie.release_date | date}}</small></h5>
                </div>
                <div class="detailDiv">
                    <h5><b>Posted Date : </b><small>{{movie.updated_date | date}}</small></h5>
                </div>
            </div>
        </mat-card>
        <div class="modal-footer" style="border: none; padding-right: 0;">
            <a mat-raised-button color="primary" [routerLink]="['/movie-edit', movie._id]"><mat-icon>edit</mat-icon></a>
            <a mat-raised-button color="warn" data-toggle="modal" data-target="#deleteModal"><mat-icon>delete</mat-icon></a>
        </div>
    </div>
    <!-- Modal -->
    <div class="container">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete.....</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure, you want to delete this movie - <span class="text-capitalize">{{movie.title}}</span> ??????
                    </div>
                    <div class="modal-footer">
                        <a mat-raised-button color="secondary" data-dismiss="modal"><mat-icon>cancel</mat-icon></a>
                        <a mat-raised-button color="warn" (click)="deleteMovie(movie._id)" data-dismiss="modal"><mat-icon>delete</mat-icon></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

