@import url('https://fonts.googleapis.com/css?family=Krub');

#indexWrapper { 
  max-width: 100%;
  margin: 2% 15%;
}

.mat-card {
  margin-top: 2%;
  font-family: 'Krub', sans-serif;
  padding: 18px;
}

#movieInfo {
  max-width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 5px;
}

#story {
  margin-bottom: 3%;
}

.mat-card-content {
  text-align: center;
}

.mat-card-content a img {
  -moz-box-shadow: 0 0 12px 6px #777;
  -webkit-box-shadow: 0 0 12px 6px #777;
  box-shadow: 0 0 12px 6px #777;
}

a {
  text-decoration: none;
}

.mat-card-header {
  margin-top: 20px;
}

.mat-card-title a {
  color: black;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  #indexWrapper { 
    max-width: 100%;
    margin: 2% 5%;
  }
}