<div id="indexWrapper">
  <div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/movie-create']"><mat-icon>add</mat-icon></a>
  </div>
  <!--if there is data-->
  <div *ngIf="movies" class="home-page">  
    <div id="movieInfo">
      <div *ngFor="let movie of movies;">
        <mat-card-header>
          <mat-card-title>
              <a class="text-capitalize" routerLink="/movie-details/{{movie._id}}">
                {{movie.title}} &nbsp;<small>({{movie.release_date | date: 'yyyy'}})</small>
              </a>
          </mat-card-title>
          <mat-card-subtitle>
            Posted on {{movie.updated_date | date}} &nbsp;|&nbsp; {{movie.genre}}
          </mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-content>
          <a routerLink="/movie-details/{{movie._id}}">
            <img src="{{movie.movie_poster}}" alt="{{movie.title}} image" width="280px" height="385px">
          </a>
        </mat-card-content>
        
        <mat-card id="story">
          {{movie.storyline}}
        </mat-card>
      </div>
    </div>
  </div>
</div>