@import url('https://fonts.googleapis.com/css?family=Krub');

#indexWrapper { 
  max-width: 100%;
  margin: 2% 15%;
}

.mat-card {
  margin-top: 2%;
  font-family: 'Krub', sans-serif;
  padding: 12px;
}

.mat-card-content {
  text-align: center;
}

a {
  text-decoration: none;
}

.mat-card-header {
  margin-top: 35px;
}

.mat-card-title a {
  color: black;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  #indexWrapper { 
    max-width: 100%;
    margin: 2% 5%;
  }
}